* {
    margin: 0;
    padding: 0;
}
ul
li 
{ 
    list-style-type: none;
}
a {
    text-decoration: none;
}
header{
    display:flex:   
    max: width 1440px;
    max-height: 220;
    margin:0 auto;
    background-color: #D9D9D9;    
}
.navig{
    display: flex;
    width: 715px;
    height: 30px;
    justify-content: center;
    gap: 38px; row row-gap: 38px; column: gap 38px;
}
.footer1 {
       background-color:    #D9D9D9
}