*{
    margin: 0;
    padding:0
    box-sizing: border-box;
    list-style-type: none;
}
header {
    width: 1440px;
    height: 200px;
    background-color: rgba(217, 217, 217, 1);
    display: flex;
    align-items: center;
    padding: 0 130px 0 130px;
    margin-bottom: 160px;
}


header nav{
display: flex;
width: 715px;
height: 30px;
justify-content: center;
gap: 38px;
}

header nav ul li .active{
text-decoration: none;
color: #A62B28;
font-family: ALK Life;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

header nav ul li .nav-items{
    text-decoration: none;
    color:#717276;;
    font-family: ALK Life;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

.background {
    width: 1180px;
    height: 287px;
    margin-bottom: 160px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
}

h2 {
    font-size: 32px;
    color: rgba(113, 114, 118, 1);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.main1 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.main2 {
    width: 100px;
    height: 100px;
    margin-right: 40px;}

.book-shelf {
        display: flex;
        margin-bottom: 160px;}

Div {
    display: block;
    }

.book-shelf img {
width: 380px;
height: 512px;
margin-right: 20px;
margin-bottom: 50px;
}

.second-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.small-icon2 {
    width: 100px;
    height: 100px;
    margin-right: 40px;
}

h2 {
    font-size: 32px;
    color: rgba(113, 114, 118, 1);display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.authors{
    display:flex;
    margin-bottom: 160px;
}



.surati {
        width: 280px;
        height: 260px;
        margin-right: 20px;
    }

    footer {
        width: 1440px;
        height: 246px;
        background-color: rgba(217, 217, 217, 1);
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-right: 130px;
        padding-left: 130px;}

        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }

        .footer-2{
            display:flex;
            justify-content:last baseline;
        }

        .icon {
            width: 30px;
            height: 30px;
            margin-left: 21px;}